body
  //font-family: 'Oswald', sans-serif
  font-family: 'Gabarito', sans-serif
  font-size: 16px
  background: rgba(243, 243, 243, 1)
  //background: #8CA9FF
  //background: linear-gradient(0deg,rgba(140, 169, 255, 1) 0%, rgba(170, 196, 245, 1) 28%, rgba(255, 242, 198, 1) 100%)


  //background-color: #ffffffff
  //opacity: 1
  //background-image: radial-gradient( #000000ff 1.8px, #ffffffff 1.8px)
  //background-size: 80px 80px


.site-container
  width: 1000px /* 750px */
  margin: auto

@media (max-width: 768px)
  .site-container
    width: 95vw


