---
---

//------------------------------------------------
// Set some colors as sass variables

//OLD ONES
$accent-color: #5448bdff
$accent: #6568c9ff
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%)
$selectionColor: lighten($accent, 30%)

$textColor: #666
$headlineColor: #333
$bgcolor: rgba(238, 238, 238, 1)
$documentBackgroundColor: #fff

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
